<h2> <%=@due_date_past%> days past due date </h2>
<p>Hi, <%= @borrower_name %></p>
<p>Due date for <%= @description %> has been past</p>
<p>Please arrange a return with the lender</p>
<%= link_to "Sign in for more information", new_user_session_url%>
<br>
<br>
EasyShare