<h2> 1 day until the due date </h2>
<p>Hi, <%= @borrower_name %></p>
<p>Due date for <%= @description %> is appraching </p>
<p>Please arrange a return with the lender</p>
<%= link_to "Sign in for more information", new_user_session_url%>
<br>
<br>
EasyShare