<p>Hi, <%= @email %></p>
<p><%= @name %> is looking for <%= @description %></p>
<p>If you have this item, please <%= link_to "sign in to make the item available to your fellow follower", new_user_session_url%> </p>
<br>
<br>
EasyShare